
h1 {
	color: blue;
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
}
h2 {
	color: red;
	font-weight: bold;
	font-family: Helvetica;
	margin-left: 240px;
}
img {
	margin: 50px;
}
iframe {
	margin: 50px;
}
body {
	background-image: url(https://i.pinimg.com/originals/68/be/6b/68be6bbd8ffec48ae39166ba21ed296d.jpg);
	background-size: 1400px;
}



